<p>Programming Books List!</p>
<button (click)="isShowing = !isShowing">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>
<ul *ngIf="isShowing">
<ng-container *ngFor="let book of books; let i=index">
<li>
    <p class="index">{{i+1}}</p>
    <p><img [src] = "book.image" width = "100" alt = {{book.name}}></p>
    <p class="title">{{book.name | titlecase}} by {{book.author}} </p>
    <p class="currency">{{book.amount | currency:'MYR'}}</p>
</li>
</ng-container>
</ul>
